extends layout

block content
  script.
    var issues = !{issues};

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/isotope.pkgd.min.js")
  script(src="/javascripts/issue_filter.js")

  div(id="filters")
    h3 Ticket Type
    div(class="button-group", filter-type="type")
      button(class="button show-all is-checked" data-filter="*" id="type-show-all") Show All
      button(class="button" data-filter=".l1-escalation") Escalation
      button(class="button" data-filter=".patch") Patch
      button(class="button" data-filter=".task") Task
    h3 Priority
    div(class="button-group", filter-type="priority")
      button(class="button show-all is-checked" data-filter="*" id="priority-show-all") Show All
      button(class="button" data-filter=".minor") Minor
      button(class="button" data-filter=".major") Major
      button(class="button" data-filter=".critical") Critical
    h3 Business Value
    div(class="button-group", filter-type="business-value")
      button(class="button show-all is-checked" data-filter="*" id="business-value-show-all") Show All
      button(class="button" data-filter=".1") 1
      button(class="button" data-filter=".2") 2
      button(class="button" data-filter=".3") 3
      button(class="button" data-filter=".4") 4
      button(class="button" data-filter=".5") 5
    h3 Region
      div(class="button-group", filter-type="region")
        button(class="button show-all is-checked" data-filter="*" id="region-show-all") Show All
        button(class="button" data-filter=".apac") APAC
        button(class="button" data-filter=".brazil") Brazil
        button(class="button" data-filter=".eu") EU
        button(class="button" data-filter=".india") India
        button(class="button" data-filter=".japan") Japan
        button(class="button" data-filter=".spain") Spain
        button(class="button" data-filter=".us") US
    h3 Update
      div(class="button-group", filter-type="update")
        button(class="button show-all is-checked" data-filter="*" id="update-show-all") Show All
        button(class="button" data-filter=".up-to-date") Up to Date
        button(class="button" data-filter=".update-soon") Update Soon
        button(class="button" data-filter=".needs-update") Needs Update
    h3 Status
      div(class="button-group", filter-type="status")
        button(class="button show-all is-checked" data-filter="*" id="status-show-all") Show All
        button(class="button" data-filter=".blocked") Blocked
    h3 Assignee
      div(class="button-group", filter-type="assignee", id="assignee-button-group")
        button(class="button show-all is-checked" data-filter="*" id="assignee-show-all") Show All
  div(class="grid", id="grid")