extends layout

block content
  script.
    var issues = !{issues};

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/isotope.pkgd.min.js")
  script(src="/javascripts/issue_filter.js")

  h1= title
  p Welcome to #{title}

  div(id="filters")
    h3 Ticket Type
    div(class="button-group", filter-type="type")
      button(class="button show-all is-checked" data-filter="*" id="type-show-all") Show All
      button(class="button" data-filter=".l1-escalation") Escalation
      button(class="button" data-filter=".patch") Patch
      button(class="button" data-filter=".task") Task
    h3 Priority
    div(class="button-group", filter-type="priority")
      button(class="button show-all is-checked" data-filter="*" id="priority-show-all") Show All
      button(class="button" data-filter=".minor") Minor
      button(class="button" data-filter=".major") Major
      button(class="button" data-filter=".critical") Critical
    h3 Business Value
    div(class="button-group", filter-type="business-value")
      button(class="button show-all is-checked" data-filter="*" id="business-value-show-all") Show All
      button(class="button" data-filter=".1") 1
      button(class="button" data-filter=".2") 2
      button(class="button" data-filter=".3") 3
      button(class="button" data-filter=".4") 4
      button(class="button" data-filter=".5") 5
  div(class="grid", id="grid")