extends layout

block content
  script.
    var issues = !{issues};

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/isotope.pkgd.min.js")
  script(src="/javascripts/issue_filter.js")

  h1= title
  p Welcome to #{title}

  div(id="filters")
    h3 Filters
    button(data-filter="*") Show All
    button(data-filter=".escalation") Escalation
    button(data-filter=".patch") Patch
    button(data-filter=".task") Task
  div(class="grid", id="grid")