extends layout

block content
  script.
    var issues = !{issues};

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/isotope.pkgd.min.js")
  script(src="/javascripts/issue_filter.js")

  h1= title
  p Welcome to #{title}

  h3 Filters

  div(class="button-group" id="filters")
    button(class="button show-all is-checked" data-filter="*" id="show-all") Show All
    button(class="button" data-filter=".escalation") Escalation
    button(class="button" data-filter=".patch") Patch
    button(class="button" data-filter=".task") Task
  div(class="grid", id="grid")